.textlink{
    color: #d6d6d6;
    text-decoration: none;  
}
.div1{
    padding: 0.80rem;
}
.div1:hover{
    background-color: #d6d6d6;
    border-radius:  0.6rem;
}   

.textlink:hover{
    color: #333;
    text-decoration: none;  
}